.qtrans-lang-switch-wrap
{
	margin: 10px 0;
}

.qtrans-lang-switch
{
	padding: 3px 8px 5px 8px;
	margin: 6px 4px 0 4px;
	display: inline-block;
	cursor: pointer;
}

.qtrans-lang-switch > *
{
	vertical-align: middle;
	margin-right: 4px;
}

.qtrans-lang-switch > *:last-child {
	margin-right: 0;
}

/* Language menu items */

.qtrans-lang-menu img
{
	vertical-align: middle;
}

.qtrans-lang-menu-item img
{
	vertical-align: middle;
}

/* Admin bar language icons */

#wpadminbar #wp-admin-bar-language > div.ab-item
{
	padding-left: 32px;
	cursor: default;
}

#wpadminbar #wp-admin-bar-language ul li {
	padding-left: 22px;
} 

#wpadminbar #wp-admin-bar-language > div.ab-item,
#wpadminbar #wp-admin-bar-language ul li
{
	background-repeat: no-repeat;
	background-position: 8px; 
}

/* qtranslate config page */

#qtranslate-languages-menu img {
	vertical-align: middle;
}

.language-list td
{
	vertical-align: middle;
}

/* qtranslate widget */

.top-widget {
	width: auto;
}

#qtranslate_languages_menu img {
	vertical-align: middle;
}